<h2 class="page-header">メッセージ</h2>
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class="header">
            <p class="left margin-top10px margin-bottom5px"><%= profile_img(user,size: :small) %>
              &nbsp;&nbsp;<b><%= user.name %></b>（<%= message.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H時%M分%S秒") %>）
            </p>
          </div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              &nbsp;&nbsp;<%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class="margin-top5px">
    <%= f.submit "メッセージを送る", class: "btn btn-primary hidden-xs" %>
    <%= f.submit "メッセージを送る", class: "btn btn-primary btn-block visible-xs" %>
  </div>
<% end %>
<br>
<p class="h4 margin-top15px">
  <%= link_to "メッセージ一覧画面に戻る", conversations_path %>
</p>

<section>
  <div id="page-top-btn" class="page-top-btn">
      <p><a class="move-page-top" id="move-page-top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▲</a></p>
  </div>
</section>
