<div id="follow_form_<%= user.id %>">
  <% if user == current_user %>
    <p class="text-danger h4">あなた</p>
  <% elsif !current_user.following?(user) %>
    <%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
      <%= f.hidden_field :followed_id %>
      <%=f.submit "フォロー", class: "btn btn-large btn-primary margin-top10" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.find_by(followed_id: user.id), html: { method: :delete }, remote: true) do |f| %>
      <%= f.submit "つながりを解除", class: "btn btn-large margin-top10" %>
    <% end %>
  <% end %>
</div>
